body{
  font-family: 'Lato', sans-serif !important;
}
li{
	margin: 2%;
}
.panel-body{
  text-align: center;
}
.panel-heading{
  text-align:center;
  font-weight: 900;
  color: black !important;
}
.my-panel-heading{
  background-color: #78AE79 !important;
}
.panel-info{
  border-color: #78AE79 !important;
}

.col-lg-2,.col-lg-9,.col-lg-10,.col-lg-7,.col-lg-5{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
svg{
    margin-left: 100px;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}